/* image*/

.image-name {
    display: flex;
    flex-direction: row;
    padding: 20;
    background: rgb(233,233,233);
        background: linear-gradient(90deg, rgba(233,233,233,0.30155812324929976) 0%, rgba(18,116,108,0.5) 84%, rgb(144, 198, 193, 0.5) 99%);
}
.image-name {
    width: 100%;
    height: 1400px;
}

.image1 {
    background-image: url("../../../public/china2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;  
    width: 200px;
    object-fit: fill;
}

#name {
    color: black;
    transform: rotate(-90deg);
    margin-top: 490px;
    font-size: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;   
}

#name2 {
    position: absolute;
    top: 790px;
    left: 78px;
    font-size: 50px;
}

#intro {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 30px;
    width: 100%;
    z-index: 4;
}



.square {
    margin-top: 300px;
}

/* world */
#world {
    position: absolute;
    top: 800px; 
    left: 550px;
    z-index : 5;
}

.NL {
    display: none;
    background-color: #12746c;
    width: 400px;
    height: 440px;
    position: absolute;
    top: 0px ; 
    left: 10px; 
    padding: 20px;
    z-index: 5;
    font-size: 20px;
    color: white;
    border-radius: 10px;
  }
  
  .Netherlands:hover .NL {
    display: block;
    cursor: pointer ; 
    
  }

  .Netherlands {
    position: absolute;
    top : 110px; 
    left: 390px; 
    width: 20px;
    height: 20px;
    background-color: grey;
    border:2px solid black; 
    border-radius: 50%;
  }

  
/* spain */
.ES {
    display: none;
    background-color: #12746c;
    width: 400px;
    height: 500px;
    position: absolute;
    top: 0px ; 
    left: 10px; 
    padding: 20px;
    color: white;
    font-size: 20px;
    z-index: 3;
    border-radius: 10px;
  }
  
  .Spain:hover .ES {
    display: block;
    cursor:pointer;
    
  }

  .Spain {
    position: absolute;
    top : 170px; 
    left: 365px; 
    width: 20px;
    height: 20px;
    background-color: grey;
    border: 2px solid black;

    border-radius: 50%;
  }

  /* china */
  
  .CH {
    display: none;
    background-color: #12746c;
    width: 400px;
    height: 500px;
    position: absolute;
    top: 0px ; 
    left: 10px; 
    font-size: 20px;
    padding: 20px;
    z-index: 5;
    color: white;
    border-radius: 10px;
  }

  
  .China:hover .CH {
    display: block;
    cursor:pointer;
  }

  .China {
    position: absolute;
    top : 190px; 
    left: 665px; 
    width: 20px;
    height: 20px;
    background-color: grey;
    border: 2px solid black; 
    border-radius: 50%;
  }

  .img-in {
    margin-top: 10px;
    border-radius: 20%;
    align-items: center;
    margin-left: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }

  .img-inn {
    margin-top: 10px;
    border-radius: 20%;
    align-items: center;
    margin-left: 35px;
  }

  #airplane {
    position: absolute;
    top : 0 ; 
    left: 20px;
    animation: airplane 10s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    cursor: pointer ; 
    transform: rotate(45deg);
    z-index: 1;
  }


  @keyframes airplane {
  10% {
      top : 10px;
      z-index: 5;
      
    }
    20% { 
       top : 30px ;
       left: 50px; 

       
    }

    30% { 
      top : 80px ;
      left: 70px; 
     
     
  }

  40% { 
    top : 80px ;
    left: 90px; 
  
   
}

50% { 
  top : 90px ;
  left: 150px; 
 
}
60% { 
  top : 110px ;
  left: 200px; 
 
 
}
70% { 
  top : 120px ;
  left: 250px; 
  
 
}
80% { 
  top : 130px ;
  left: 350px; 
 
 
}

90% { 
  top : 140px ;
  left: 500px; 
 
 
}

100% {
  top : 150px ;
  left: 1050px;
  transform: rotateX(20deg);
  opacity: 1.0; 
  height: 300px;
  width: 300px;
}

}

.intro-work {
  width: 800px;
  height: 200px;
  position: absolute;
  top: 800px;
  left: 1800px;
  z-index: 6;
  font-size: 30px;
}
