/* image*/

.image-name {
    display: flex;
    flex-direction: row;
    padding: 20;
}
.image-name {
    width: 100%;
    height: 1400px;
}

.image1 {
    background-image: url("https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;  
    width: 200px;
    object-fit: fill;
}

#name {
    color: black;
    transform: rotate(-90deg);
    margin-top: 300px;
    font-size: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;   
}

#name2 {
    position: absolute;
    top: 520px;
    left: 78px;
    font-size: 50px;
}

#intro {
    margin-top: 40px;
    margin-left: 40px;
    color: color ; 
}



.square {
    margin-top: 300px;
}

/* world */
#world {
    position: absolute;
    top: 600px; 
    left: 400px;
    z-index : 1; 
}

.NL {
    display: none;
    background-color: #12746c;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0px ; 
    left: 10px; 
    padding: 20px;
    z-index: 3;
    font-size: 15px;
    color: white;
    border-radius: 10px;
  }
  
  .Netherlands:hover .NL {
    display: block;
    cursor:pointer;
    
  }

  .Netherlands {
    position: absolute;
    top : 340px; 
    left: 430px; 
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
  }

  
/* spain */
.ES {
    display: none;
    background-color: #12746c;
    width: 300px;
    height: 350px;
    position: absolute;
    top: 0px ; 
    left: 10px; 
    padding: 20px;
    color: white;
    font-size: 15px;
    z-index: 3;
    border-radius: 10px;
  }
  
  .Spain:hover .ES {
    display: block;
    cursor:pointer;
    
  }

  .Spain {
    position: absolute;
    top : 390px; 
    left: 405px; 
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
  }

  /* china */
  
  .CH {
    display: none;
    background-color:#12746c;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0px ; 
    left: 10px; 
    font-size: 15px;
    padding: 20px;
    z-index: 3;
    color: white;
    border-radius: 10px;
  }

  
  .China:hover .CH {
    display: block;
    cursor:pointer;
  }

  .China {
    position: absolute;
    top : 390px; 
    left: 705px; 
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
  }

  .img-in {
    margin-top: 10px;
  }


